[Desktop Entry]
Version=1.0
Type=Application

Name=Accounting Forum - Brazil
Name[pt_BR]=Contábeis - Fórum
Name[en]=Accounting Forum - Brazil
Name[es]=Foro de Contabilidad - Brasil

Comment=The Accounting Forum brings together the largest collection of updated accounting content and discussions that promote overall growth for the entire accounting community. Learn more and start being a part of our community!
Comment[pt_BR]=O Fórum Contábeis reúne o maior acervo de conteúdo contábil atualizado e com discussães que promovem um crescimento em geral de toda a comunidade contábil. Conheça e comece a fazer parte da nossa comunidade!
Comment[en]=The Accounting Forum brings together the largest collection of updated accounting content and discussions that promote overall growth for the entire accounting community. Learn more and start being a part of our community!
Comment[es]=El Foro de Contabilidad reúne la mayor colección de contenido y debates contables actualizados que promueven el crecimiento integral de toda la comunidad contable. ¡Infórmate y únete a nuestra comunidad!

Exec=xdg-open https://www.contabeis.com.br/forum/

# Icon=internet-web-browser

Icon=/usr/share/icons/facilitador/forum-contabeis.png

Terminal=false
Categories=Network;
StartupNotify=true


Keywords=accounting;forum;
Keywords[en_US]=accounting;forum;
Keywords[es_ES]=;
Keywords[pt_BR]=contabeis;forum;
