[Desktop Entry]
Version=1.0
Name=Consulta e Envio DIEF - SEFA-PA
Comment=Acesse o serviço de consulta e envio da DIEF no site da SEFA-PA
Exec=xdg-open https://app.sefa.pa.gov.br/pservicos/autenticacao?servico=https://app.sefa.pa.gov.br:443/consulta-dief/index.jsp
Icon=internet-web-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Keywords=DIEF;SEFA-PA;consulta;envio;ICMS;informações;fiscais;
MimeType=text/html;
Language=pt_BR.UTF-8


# DIEF Comércio Exterior

# É a apresentação de Declaração eletrônica, DIEF - Comercio Exterior, por ocasião da realização das operações de importação de mercadorias ou bens provenientes do exterior por contribuinte deste Estado, conforme estabelece a Instrução normativa 020/2005.


# https://www.sefa.pa.gov.br/internal/services/iig


# Consulta DIEF

# É a consulta do recibo definitivo da DIEF, processado pela Secretaria de Estado da Fazenda (SEFA), após a validação dos dados enviados no arquivo enviado de DIEF.

# https://www.sefa.pa.gov.br/internal/services/iif

