[Desktop Entry]
Version=1.0
Type=Application

Name=Acessar o e-CAC 
Name[pt_BR]=Acessar o e-CAC 
Name[en]=
Name[es]=

Comment=Acesse o atendimento virtual da Receita Federal
Comment[pt_BR]=Acesse o atendimento virtual da Receita Federal
Comment[en]=Access the Brazilian Federal Revenue virtual assistance
Comment[es]=Accede al servicio virtual de la Receita Federal de Brasil

Exec=xdg-open https://cav.receita.fazenda.gov.br/autenticacao/login/index

# Icon=internet-web-browser
Icon=/usr/share/icons/facilitador/e-cac.png

Terminal=false
Categories=Network;

Keywords=receita;federal;imposto;renda;e-cac;gov;br;rfb
Keywords[pt_BR]=receita;federal;imposto;renda;e-cac;governo;brasil;rfb;atendimento
Keywords[en]=revenue;tax;brazil;government;service;e-cac;rfb
Keywords[es]=impuestos;gobierno;brasil;rfb;e-cac;servicio




# https://www.gov.br/receitafederal/pt-br/canais_atendimento/atendimento-virtual

