[Desktop Entry]
Type=Application

Name=EFD ICMS IPI
Name[en_US]=
Name[es]=
Name[pt_BR]=EFD ICMS IPI

Comment=
Comment[en_US]=
Comment[es]=
Comment[pt_BR]=

Exec=/usr/local/bin/efd-icms-ipi.sh
Icon=/usr/share/icons/facilitador/logo.ico
Terminal=false

Categories=Office;

Keywords=sped;
Keywords[en_US]=sped;
Keywords[es_ES]=sped;
Keywords[pt_BR]=sped;
