[Desktop Entry]
Type=Application
Name=Facilitador
GenericName=Facilitador Linux
Comment=Facilitador Linux - Instalador de Aplicativos
Exec=/usr/local/bin/updater.sh
Icon=/usr/share/icons/facilitador/icon.png
Categories=Office
Terminal=false
StartupWMClass=InfinalitySettings
