[Desktop Entry]
Type=Application
Name=Facilitador
GenericName=Facilitador Linux
Comment=Facilitador Linux - Instalador de Aplicativos
Exec=/usr/local/bin/updater.sh
Icon=/usr/share/icons/facilitador/icon.png
Categories=Office;

# Terminal=false
Terminal=true

StartupWMClass=InfinalitySettings


Keywords=videoconferencia;DCTF;DCTFWeb;facilitador;dmed;receitanet;dbeaver;consulta;cnpj;calima;ERP;contabil;receita;nfe;DANFE;xml;contabilidade;DIRF;ecac;imposto;EFD;EFD;icms;ipi;eSocial;gov;IRPF;fazenda;teams;zoom;sintegra;SPED;ECD;ECF;wine;java;SVA;flatpak;instalar;skype;anydesk;teamviewer;mysuite;OcoMon;helpdesk;NFSe;
Keywords[pt_BR]=videoconferencia;DCTF;DCTFWeb;facilitador;dmed;receitanet;dbeaver;consulta;cnpj;calima;ERP;contabil;receita;nfe;DANFE;xml;contabilidade;DIRF;ecac;imposto;EFD;EFD;icms;ipi;eSocial;gov;IRPF;fazenda;teams;zoom;sintegra;SPED;ECD;ECF;wine;java;SVA;flatpak;instalar;skype;anydesk;teamviewer;mysuite;OcoMon;helpdesk;chamado;NFSe;
Keywords[en_US]=;;;;;;
Keywords[es_ES]=;;;;;;
Keywords[fr_FR]=;;;;;;


