[Desktop Entry]
Version=1.0
Type=Application

Name=IRPF online
Name[pt_BR]=IRPF online
Name[en]=IRPF online
Name[es]=IRPF en línea

GenericName=
GenericName[pt_BR]=
GenericName[en]=
GenericName[es]=

Comment=The personal income tax declaration can also be completed online, via e-CAC, without having to download or install any program.
Comment[pt_BR]=A declaração do imposto sobre a renda das pessoas físicas também pode ser preenchida de forma online, pelo e-CAC, sem precisar baixar ou instalar nenhum programa.
Comment[en]=The personal income tax declaration can also be completed online, via e-CAC, without having to download or install any program.
Comment[es]=La declaración del IRPF también se puede realizar online, a través del e-CAC, sin necesidad de descargar ni instalar ningún programa.

# xdg-open: Garante que o link será aberto no navegador padrão do usuário.
Exec=xdg-open https://mir.receita.fazenda.gov.br/portalmir

# Usa o ícone padrão internet-web-browser, mas você pode substituir por um personalizado.

# Icon=internet-web-browser
Icon=/usr/share/icons/facilitador/RFB.ico


Terminal=false
Categories=Network;

Keywords=xml;IRPF;
Keywords[pt_BR]=imposto;declaracao;online;ecac;IRPF;
Keywords[en]=IRPF;
Keywords[es]=IRPF;



# https://www.gov.br/receitafederal/pt-br/centrais-de-conteudo/download/pgd/dirpf

# Meu Imposto de Renda

# A declaração do imposto sobre a renda das pessoas físicas também pode ser preenchida de forma online, pelo e-CAC, sem precisar baixar ou instalar nenhum programa
