[Desktop Entry]
Version=1.0
Name=Consulta Obrigatoriedade EFD - SEF-PB
Comment=Consulte a obrigatoriedade da Escrituração Fiscal Digital (EFD) no site da SEF-PB
Exec=xdg-open https://www.sefaz.pb.gov.br/servirtual/escrituracao-fiscal/consulta-obrigatoriedade-de-efd
Icon=internet-web-browser
Terminal=false
Type=Application
Categories=Network;
Keywords=SEF-PB;EFD;consulta;obrigatoriedade;fiscal;escrituracao;digital;
MimeType=text/html;
Language=pt_BR.UTF-8

# https://www.sefaz.pb.gov.br/info/declaracoes/gim
# https://www.sefaz.pb.gov.br/servirtual/escrituracao-fiscal/consulta-obrigatoriedade-de-efd

