[Desktop Entry]
Type=Application
Name[pt_BR]=Validador Sintegra

# Exec=wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Validador\ Sintegra\ 2025/ValidadorSintegra2025.exe

Exec=bash -c 'PROG=$(find "$HOME/.wine/drive_c/Program*" -type f -iname "ValidadorSintegra*.exe" | head -n 1); if [ -z "$PROG" ]; then yad --center --error --window-icon="/usr/share/icons/facilitador/sintegra.png" --title="Erro" --text="Validador Sintegra não encontrado!" --buttons-layout=center --button="OK"  2> /dev/null ; else wine "$PROG"; fi'

Icon=/usr/share/icons/facilitador/sintegra.png
Categories=Office;
Terminal=false


