[Desktop Entry]
Type=Application

Name=SPED ECF
Name[en_US]=
Name[es]=
Name[pt_BR]=SPED ECF

Comment=
Comment[en_US]=
Comment[es]=
Comment[pt_BR]=

Exec=/usr/local/bin/sped-ecf.sh
Icon=/usr/share/icons/facilitador/logo.ico
Terminal=false

Categories=Office;

Keywords=sped;
Keywords[en_US]=sped;
Keywords[es_ES]=sped;
Keywords[pt_BR]=sped;
