[Desktop Entry]
Name=Calima Acesso Local
Comment=Acesso local ao Calima ERP Contábil
GenericName=Calima Acesso Local
Exec=calima-app --baseurl=http://localhost:8081
Icon=calima-app
Type=Application
StartupNotify=true
Categories=Office;