[Desktop Entry]
Exec="sh /opt/Programas RFB/Dirf2020/dirf.sh"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/RFB.ico
Name[pt_BR]=DIRF
