[Desktop Entry]
Exec="/opt/projetus/facilitador/atalhos/sped-efd-contribuicoes.sh"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/logo.ico
Name[pt_BR]=EFD CONTRIBUICOES
