[Desktop Entry]
Exec="/opt/projetus/facilitador/atalhos/efd-icms-ipi.sh"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/logo.ico
Name[pt_BR]=EFD ICMS IPI
