[Desktop Entry]
Exec="/opt/projetus/facilitador/atalhos/IRPF.sh"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/RFB.ico
Name[pt_BR]=IRPF
