[Desktop Entry]
Exec="/opt/projetus/facilitador/atalhos/linphone.sh"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/logo_linphone.png
Name[pt_BR]=Linphone
