[Desktop Entry]
Exec="/opt/projetus/facilitador/atalhos/linphone.AppImage"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/linphone_logo.ico
Name[pt_BR]=Linphone
