[Desktop Entry]
Exec="/opt/projetus/facilitador/atalhos/sped-ecf.sh"
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/atalhos/logo.ico
Name[pt_BR]=SPED ECF
