[Desktop Entry]
Exec="/opt/projetus/facilitador/updater.sh"
Name=Facilitador
GenericName=Facilitador Linux
Comment=Facilitador Linux - Instalador de Aplicativos
Terminal=false
Type=Application
Icon=/opt/projetus/facilitador/icon.png
Categories=Office
StartupWMClass=InfinalitySettings